<div class="surface-ground">
  <div class="grid">
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/bracelet.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Bamboo Watch</span>
                  <span class="text-600 font-medium mb-3">Duis Aute Irure</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$9.66</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/galaxy-earrings.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Black Watch</span>
                  <span class="text-600 font-medium mb-3">Ullam libero</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$12.45</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/shoes.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Shoes</span>
                  <span class="text-600 font-medium mb-3">Eveniet magnam</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$21.50</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/yoga-mat.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Yoga-Mat</span>
                  <span class="text-600 font-medium mb-3">Quis minus soluta</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$15.00</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/headphones.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Headphones</span>
                  <span class="text-600 font-medium mb-3">Sunt facere tempora</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$44.50</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/pink-purse.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Lime Band</span>
                  <span class="text-600 font-medium mb-3">Lorem Ipsum Dolor</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$5.90</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/purple-gemstone-necklace.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">Necklace</span>
                  <span class="text-600 font-medium mb-3">Sit amet consectetur</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$21.90</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
      <div class="col-12 md:col-6 xl:col-3 p-3">
          <div class="surface-card shadow-2 border-round p-4">
              <div class="flex flex-column align-items-center border-bottom-1 surface-border pb-3">
                  <img src="assets/images/blocks/products/purple-t-shirt.jpg" class="mb-3 w-9" />
                  <span class="text-xl text-900 font-medium mb-2">T-Shirt</span>
                  <span class="text-600 font-medium mb-3">Adipisicing elit</span>
                  <span class="text-2xl text-800 block mb-3 font-semibold">$18.50</span>
                  <p-rating [ngModel]="3" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
              </div>
              <div class="flex pt-3 justify-content-between align-items-center">
                  <button pButton pRipple icon="pi pi-shopping-cart" label="Buy Now" class="p-button-text"></button>
                  <button pButton pRipple icon="pi pi-heart" class="p-button-text p-button-secondary"></button>
              </div>
          </div>
      </div>
  </div>
</div>
